input.search {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 12px;
  border: none;
  padding: 20px 24px;
  color: #2d2d2d;
  font-weight: bold;
  font-size: 1.25rem;
  background-image: url("../assets/images/mag-glass.svg");
  background-repeat: no-repeat;
  background-position: center right 24px;
}
